<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h1 class="h2">About</h1>
</div>
<div>
  <p>This Is CRUD Application Using Node JS</p>
  <p>This is a simple user management system developed</p>
  <p>In This System User Can Insert|Update|Delete Data of User</p>
</div>


<div class="pt-3">

  <h3>Features</h3>
  <ol>
    <li>Dashboard</li>
    <li>Profile View</li>
    <li>Profile Update</li>
    <li>Profile Delete</li>
    <li>Adding New User</li>
    <li>About Section</li>
    <li>Searching Existing User</li>
  </ol>

</div>